body {
    margin: 0;
    padding: 0;
}
.content {
  background-color:#fcf386;
  overflow:auto;
  clear:both;
  padding-top:20px;
}
.content h2 {
  color:#361a0e;
  margin-left:60px;
  margin-top:50px;
  font-size: 2em;
  font-style:italic;
  display: inline-block;
}

.content img {
  float:right;
  margin-right:60px;
  margin-top:10px;
  border:3px solid #FFD700;
}

/*footer {
  text-align:center;
  font-style:italic;
  font-size:.60em;
  color:#FAF0E6;
  background-color:#361a0e;
  border-top:2px solid #FFD700;
}*/