body {
  background-color: #FCF386;  
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;

  color: #333;
}
main.content {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}
main.content h2 {
  font-size: 2.2em;
  margin: 40px 0 20px;
  text-align: center;
  background-color: #8B0000;
  color: white;
  font-style: italic;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
main.content p {
  font-size: 1.35em;   
  font-weight: bold;    
  line-height: 1.7;     
  margin-bottom: 20px;
  color: #333;
}
.about-image {
  text-align: center;
  margin: 25px 0;
}
.about-image img {
  width: 90%; 
  max-width: 900px;
  height: auto;
  border-radius: 8px;
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.35);
}
hr {
  border: none;
  height: 2px;
  background-color: #8B0000;
  width: 70%;
  margin: 40px auto;
  border-radius: 2px;
}
.why {
  max-width: 900px;
  margin: 40px auto;
}

.why-table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 1.2em;
}

.why-table th, .why-table td {
  border: 1px solid #8B0000; 
  padding: 12px;
  text-align: left;
}

.why-table th {
  background-color: #8B0000;
  color: white;
}

.why-table tr:nth-child(even) {
  background-color: #f7eeb5; 
}

.why-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.pricing-intro {
    margin-bottom: 25px;
    padding: 10px 0;
}

.pricing-intro h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

.pricing-intro p {
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;    
    line-height: 1.6em;
    font-weight: bolder;
    font-style: italic;
}

.pricing-table {
    width: 90%;              
    max-width: 1200px;       
    margin: 30px auto 0 auto; 
    background-color: #1f1f1f;  
    border-radius: 12px;
    border-collapse: collapse;
    overflow: hidden;
    border: 2px solid #ffffff; 
}

.pricing-table th,.pricing-table td {
    padding: 15px;
    border: 1px solid #ffffff;
}

.pricing-table tr:first-child {
    background-color: #292929; 
}

.pricing-table th {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 600;
    color: #ffffff;
}

.pricing-table td {
    color: #e3e3e3;
    vertical-align: top;
    line-height: 1.5em;
}

.pricing-table tr:nth-child(odd) {
    background-color: #202020;
}

.pricing-table tr:nth-child(even) {
    background-color: #2a2a2a;
}

.pricing-table tr:hover {
    background-color: #333333;
    transition: 0.2s;
}
