body {
    background-color: #EEDFA6;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    }

header {
    margin-bottom: 40px; 
}

.contact-form, .contact-info {
    margin: auto;
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color:antiquewhite;
}

.contact-form img, .contact-info img {
    float: right;
    display: block;
    padding-right: 80px;
}

.contact-info {
    margin: auto;
    padding: 30px;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #FAF8E9;
}

