body {
  background-image: url('resources/images/symphonic band.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* Good practice to prevent tiling if image is small */
  background-attachment: fixed; /* Optional: Makes the background static when scrolling */
  min-height: 100vh; /* This is crucial to ensure the body takes full height */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

header {
    margin-bottom: 40px;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color:#EEDFA6;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px  #333333;
    padding-top: 20px;
    display: flex;
}

#wrapper img {
    width: 40%;
    overflow: hidden;
    background-image: center;
}

#wrapper .formcontent {
    width: 60%;
}

main {
    margin-left: 50%;
    padding: 0;
    display: block;
}

main h2, main p {
    text-align: left;
}

