/*Applies for all web pages*/
body {
  padding:0;
  margin:0;
  font-family: "Times New Roman", Times, serif;
}

/*for top part section*/
header {
  background-color:#781319;
  border-bottom: 2px solid #ffd700;
  overflow: auto;
  padding: 13px 0;
  line-height:1.75;
}

/*logo of Symphony Steps*/
.logo img{
  float:left;
  margin-left:20px;
  margin-top:10px;
}

/*Symphony Steps word*/
.logo h1 {
  float:left;
  font-size:1.7em;
  color: #FFD700;
  font-weight:bold;
  margin-top: 15px; 
  margin-left:10px;
  margin-bottom:0;
}

nav {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  display:block;
}

/*navigation links*/
nav a {
  text-decoration:none;
  font-weight:500;
  font-size:1.5em;
  margin: 0 15px;
  padding-bottom:10px;
  color:white;
}

/*Indicate visited/non-visited status*/
nav a:visited {
    color: gray;
}

/*navigation when the mouse touches it*/
nav a:hover {
  color: #FFD700;

}

footer {
  text-align:center;
  font-style:italic;
  font-size:1em;
  color:#FAF0E6;
  background-color:#361a0e;
  border-top:2px solid #FFD700;
  padding:5px;
}

