body {
    background: linear-gradient(to bottom right, #fcf386, #fcf386); 
    margin: 0;
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    text-align: center;
    flex-direction: column;
    padding: 2rem;
}

.about {
    background-color: #781319; 
    padding: 2rem 3rem;
    border-radius: 15px;
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5); 
    gap: 2rem;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 1rem;
    color: #FFD700; 
}

.about p {
    font-size: 1.5em;
    font-style:italic;
    line-height: 1.6;
    margin-bottom: 1rem;
    color:#ffffff;
}

footer {
  text-align:center;
  font-style:italic;
  font-size:.60em;
  color:#FAF0E6;
  background-color:#361a0e;
  border-top:2px solid #FFD700;
}