
/*for all sections*/
body {
  margin: 0;
  padding-top:0;
  font-family:"Poppins","Segoe UI",sans-serif;
  color:#fdbb4a;
  background-color:#001f3f;
}

/*logo of Symphony Steps*/
.logo {
  display:flex;
  align-items:center;
  gap:10px;
}

/*Symphony Steps word*/
.logo h1 {
  font-size:2em;
  color:#fdbb4a;
  font-weight:bold;
  margin:0;
}

/*navigation bar on top of clarinet1*/
.navbar {
  padding: 25px ;
  background-color:rgba(0,0,0,0.7);
  justify-content: space-between;
  border-bottom: 2px solid #fdbb4a;
  display:flex;
  align-items:center;
}

/*navigation links*/
nav a {
    margin:0 15px;
    text-decoration:none;
    color:white;
    font-weight:500;
    font-size:1.7em;
}

/*navigation when the mouse touches it*/
nav a:hover {
  color:#fdbb4a
}

/* hero image clarinet1 section */
.hero{
    padding:40px ;
    background-image:url(resources/images/Sax2.jpg);
    background-size:cover;
    height:70vh;
    background-position:center;
    background-repeat:no-repeat;
}



main {

}

footer {

}