/*for all sections*/
body {
  overflow:auto;
  margin: 0;
  padding: 0;
  clear:both;
  font-family:"Poppins","Segoe UI",sans-serif;
  color: #333333;
  background-color: #efe9dd;
}

header {
  background-color:#781319;
  border-bottom: 2px solid #ffd700;
  overflow: auto;
  padding: 13px 0;
}

/*logo of Symphony Steps*/
.logo img{
  float:left;
  width: 50px;
  height:50px;
  margin-left:20px;
  margin-top:10px;
}

/*Symphony Steps word*/
.logo h1 {
  float:left;
  font-size:1.7em;
  color: #FFD700;
  font-weight:bold;
  margin: 15px 0 0 10px;
}

nav {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  display:block;
}

/*navigation links*/
nav a {
  text-decoration:none;
  color:white;
  font-weight:500;
  font-size:1.4em;
  margin: 0 15px;
  padding-bottom:10px;
}

nav a:link {
  color:white;
}

/*navigation when the mouse touches it*/
nav a:hover {
  color: #FFD700;
}

.content {
  background-color:#fcf386;
  overflow:auto;
  clear:both;
  padding-top:20px;
}
.content h2 {
  color:#361a0e;
  margin-left:60px;
  margin-top:50px;
  font-size: 2em;
  font-style:italic;
}

.content img {
  float:right;
  margin-right:60px;
  margin-top:10px;
  border:3px solid #FFD700;
}

/*footer {
  text-align:center;
  font-style:italic;
  font-size:.60em;
  color:#FAF0E6;
  background-color:#361a0e;
  border-top:2px solid #FFD700;
}*/