/* Name: Kwa Jin Quan
   Student ID : 25WPF07125
   HTML page covered: about.html , pricing.html*/

body {
  background-color: #FCF386;  
  color: #333;
}

.content {
  max-width: 1400px;
  margin:0 auto;
  padding-left: 30px;
  padding-top: 2px;
  padding-right:10px;
  background-color: #eedfa6;
  height: 450px;
}
.content h2 {
  font-size: 2.2em;
  text-align: center;
  background-color: #8B0000;
  color: white;
  font-style: italic;
  line-height:1.8;
  border-radius: 6px;
}

.content p {
  padding-top:20px;
  font-size: 1.35em;      
  margin-bottom: 20px;
  font-weight:650;
  line-height: 1.7;   
  color: #333;
}

.content img {
  float:left;
  margin-right:30px;
  margin-bottom: 20px;
  margin-top:5px;
  border: 1px solid #361a0e;
  border-radius:8px;
}

.video-intro-wrapper {
  max-width: 1400px;
  margin:35px auto 0 auto;
  padding-left: 30px;
  padding-top: 2px;
  padding-right:10px;
  background-color: #eedfa6;
  height: 450px;
  margin-top:30px;
}

.video-intro-wrapper h2 {
  font-size: 2.2em;
  text-align: center;
  background-color: #8B0000;
  color: white;
  font-style: italic;
  line-height:1.8;
  border-radius: 6px;
}

.video-intro-text {
  font-size: 1.35em;      
  font-weight:650;
  line-height: 1.7;   
  color: #333;
}

.video-song-title {
  font-style:italic;
  font-size:1.5em;
  text-align:center;
  color:#8B0000;
  margin-bottom:10px;
  font-weight:bold;
}

.video-box {
  float:right;
  margin-left:20px;
  margin-bottom:10px;
  padding-right:20px;
}

.goals-section {
  max-width: 1400px;
  margin:0 auto;
  padding-left: 30px;
  padding-top: 2px;
  padding-right:10px;
  background-color: #eedfa6;
  height: 370px;
}

.goals-section h2 {
  margin-left:350px;
  max-width:700px;
  font-size: 2.2em;
  text-align: center;
  background-color: #8B0000;
  color: white;
  font-style: italic;
  line-height:1.8;
  border-radius: 6px;
}

.goals-section p {
  font-size: 1.35em;      
  font-weight:650;
  line-height:1.5;
  color: #333;
}

hr {
  border: none;
  height: 2px;
  background-color: #8B0000;
  width: 70%;
  margin: 40px auto;
  border-radius: 2px;
}

.why-table-section {
  max-width: 1400px;
  margin: 0 auto 20px auto;
  padding-left: 30px;
  padding-top: 2px;
  padding-right:10px;
  background-color: #eedfa6;
  height: 370px;
}

.why-table-section h2 {
  margin-left:350px;
  max-width:700px;
  font-size: 2.2em;
  text-align: center;
  background-color: #8B0000;
  color: white;
  font-style: italic;
  line-height:1.8;
  border-radius: 6px;
}

.why-table {
  width: 100%;
  border-collapse: collapse; 
  font-size: 1.2em;
}

.why-table th, .why-table td {
  border: 1px solid #8B0000; 
  padding: 12px;
  text-align: left;
}

.why-table th {
  background-color: #8B0000;
  color: white;
}

.why-table tr:nth-child(even) {
  background-color: #f7eeb5; 
}

.why-table tr:nth-child(odd) {
  background-color: #ffffff;
}

/*PRICING CONTENTS*/
.pricing-intro {
    margin:10px auto 25px auto;
    max-width: 1400px;
    background-color: #eedfa6;
    height: 930px;
    margin-top:10px;
}

.pricing-intro h1 {
  margin-left:350px;
  max-width:700px;
  font-size: 2.5em;
  text-align: center;
  background-color: #8B0000;
  color: white;
  line-height:1.8;
  border-radius: 6px;
}

.pricing-intro p {
  font-size: 1.2em;
  color: #000000;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;    
  line-height: 1.8em;
  font-weight:400;
}

.pricing-table {
  width: 100%;              
  max-width: 1300px;       
  margin: 30px auto 0 auto; 
  background-color:#000000;
  border-radius: 12px;
  border-collapse: collapse;
  overflow:hidden;
  border: 2px solid #361a0e; 
}

.pricing-table th,.pricing-table td {
    padding: 15px;
    border: 1px solid #361a0e;
}

.pricing-table th {
    font-size: 1.1rem;
    text-align:center;
    font-weight: 600;
    color: #faf8e9;
    background-color:#C6373C;
}

.pricing-table td {
    color: #361a0e;
    vertical-align: top;
    line-height: 1.5em;
}

.pricing-table tr:nth-child(odd) {
    background-color: #faf8e9;
}

.pricing-table tr:nth-child(even) {
    background-color: #eedfa6;
}

.contact-link a{
  font-size:1.3em;
  color:#ffffff;
  text-decoration:none;
  font-weight:bold;
  background-color:#860000;
  border:2px solid #361a0e;
  padding:10px;
  text-transform:uppercase;
  margin-top:20px;
}

.contact-link a:hover {
  background-color:#ffd700;
  color:#8b0000;
}
