/* Name: Pascal Goh Kay Xuan
   Student ID : 25WPF07525
   HTML page covered: index.html , lessons.html*/

/*MAIN PART OF WEBSITE*/
#hero {
  background-color:#EEDFA6;
  overflow:auto;
  clear:both;
}

#hero h1 {
  color:#361a0e;
  margin-left:60px;
  margin-top:80px;
  padding-top:80px;
  font-size: 2.9em;
  float:left;
  width:35%;
  font-style:italic;
}

#hero img {
  float:right;
  margin-right:60px;
  margin-top:0px;
  border:3px solid #361a0e;
  width: 800px;
  height:450px;
}

/*ABOUT TEASER PART*/
.about-teaser {
  padding: 20px;
  overflow:auto;
  background-color:#FAF8E9;
  max-width:1300px;
  margin: auto;
}

.about-teaser h2 {
  color:#8b0000;
  text-align: center;
  text-decoration:underline;
  font-weight:bold;
  font-size:1.8em;
}

.about-teaser h3 {
  color:#361a0e;
  font-size:1.3em;
  text-align:left;
  margin-top:0;
  font-weight:bold;
}

.about-teaser p {
  text-align:left;
  padding-top:5px;
  line-height:1.7;
  font-size:1.2em;
}

.about-teaser p a{
  color:#8b0000;
  text-decoration:none;
  font-weight:bold;
  font-style:italic;
  font-size:1.0em;
}

.about-teaser p a:hover {
  color:#ffd700;
  background-color: #8b0000;
  padding: 2px 5px;
}

.about-teaser img {
  float:left;
  margin-right:30px;
  margin-bottom: 20px;
  margin-top:10px;
  border: 1px solid #361a0e;
}

/*LESSONS & PRICING TEASER*/
.lessons-teaser {
  background-color:#8b0000;
  color:#ffffff;
  padding: 40px 60px;
  clear:both;
  overflow: auto;
  margin-top:30px;
}

.lessons-teaser table {
  width:80%;
  border: 1px solid #ffd700;
  font-size: 1.1em;
  margin: auto;
}

.lessons-teaser th {
  background-color: #860000;
  color:#ffd700;
  font-weight:bold;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #ffd700;
}

.lessons-teaser td {
  color:#ffffff;
  background-color:#a33838;
  padding:10px;
  text-align:center;
  border: 1px solid #ffd700;
}

.lessons-teaser h2, h3 {
  color:#ffd700;
  text-align:center;
  border-bottom:none;
  margin-bottom:20px;
  padding-right:50px;
}

.lessons-teaser h2 {
  text-decoration:underline;
}

.lessons-teaser p {
  text-align:center;
  padding-top:20px;
}

.lessons-teaser p a{
  font-style: italic;
  font-size: 17px;
  color: #fcf386;
  text-decoration: none;
  font-weight: bold;
}

.lessons-teaser a:hover {
  color: #8b0000;
  background-color:#fcf386;
  padding:2px 5px;
}

/*CONTACT TEASER PART*/
.contact-teaser {
  padding:40px 60px;
  overflow:auto;
  clear:both;
  background-color:#EEDFA6;
  text-align:center;
}

.contact-teaser h2 {
  color:#8b0000;
  font-size:1.8em;
  margin-bottom:15px;
}

.contact-teaser p {
  color:#361a0e;
  font-size:1.1em;
  line-height:1.9;
}

.contact-teaser p a{
  font-size:1.3em;
  color:#ffffff;
  text-decoration:none;
  font-weight:bold;
  background-color:#860000;
  border:2px solid #361a0e;
  padding:10px;
  text-transform:uppercase;
}


.contact-teaser p a:hover {
  background-color:#ffd700;
  color:#8b0000;
}

/*LESSON PAGE*/
.lesson-intro, .lesson-content {
  margin:auto ;
  margin-top:30px;
  margin-bottom:20px;
  padding:30px;
  max-width:1400px;
  border-radius:10px;
}

.lesson-intro {
  background-color:#FAF8E9;
  line-height:1.6;
}

.lesson-content {
  background-color:#EEDFA6;
  line-height:1.6;
  padding-top:1px;
}

/*DETAIED DESIGN*/
.lesson-intro img {
  float:left;
  margin-right:20px;
  border:4px solid #361a0e;
  margin-top:10px;
}

.lesson-intro h3 {
  color:#8b0000;
  font-size:1.6em;
  margin-top:5px;
  font-weight:700;
}

.lesson-intro h2 {
  text-align:center;
  margin-top:20px;
  margin-bottom:30px;
  color:#361a0e;
  font-size:2.5em;
  padding-bottom:10px;
  border-bottom:3px solid #8b0000;
}

.lesson-intro p {
  font-size:1.1em;
  margin-bottom:15px;
  line-height:1.8;
}

.lesson-content dt {
  color:#361a0e;
  margin-top:0;
  border-bottom:2px solid #860000;
  background-color:#EEDFA6;
  padding:5px 25px;
  padding-bottom:5px;
  font-size:1.7em;
  font-weight:800;
}

.lesson-content dd {
  margin:0;
  padding:25px;
  background-color:#FAF8E9;
  border-left:7px solid #860000;
}

.audio-box {
  text-align:center;
  background-color:#fcf386;
  padding:25px;
  margin:30px auto;
  border:2px solid #ffd700;
  max-width:800px;
}

.audio-box h3 {
  color:#361a0e;
  margin-bottom:10px;
  margin-top:0;
  font-size:1.8em;
}

.lesson-content hr {
  height:1px;
  background-color:#361a0e;
  margin:40px 0;
}

.lesson-content h4 {
  color:#361a0e;
  font-size:1.25em;
  margin-top:2px;
  margin-bottom:8px;
  font-weight:800;
  text-decoration:underline;
}

.lesson-content ul {
  padding-left: 20px;
}
        
.lesson-content ul li {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.lesson-content img {
  float:right;
  padding-right:80px;
}

.pricing-link {
  text-align:center;
}

.pricing-link p a {
  font-size:1.5em;
  color:#ffffff;
  text-decoration:none;
  font-weight:bold;
  background-color:#860000;
  border:2px solid #361a0e;
  padding:10px;
}

.pricing-link p a:hover {
  background-color:#ffd700;
  color:#8b0000;
}