body {
  background-color: #FCF386;  
  font-family: "Times New Roman", Times, serif;
}

main.content {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
}

main.content h2 {
  font-size: 2em; 
  margin-top: 20px;
}

main.content p {
  font-size: 1.2em;  
  line-height: 1.6;
}

.about-image img {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-top: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4); 
  border-radius: 5px; 
}