/* Name: Adrian Ho Wan Li
   Student ID : 25WPF07500
   HTML page covered: contact.html */

body {
    background-color: #EEDFA6;
}

header {
    margin-bottom: 40px; 
}

/*Contact Form Section (applies to both application form and contact form)*/
.contact-form {
    margin: auto;
    max-width: 1200px;
    border-radius: 10px;
    background-color:#FAF8E9;
}
.contact-form h1 {
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 3px solid;
}

.contact-form p {
    font-size: 1.2em;
}

/*Application Form Section*/
.form-title {
    background-color:#C6373C;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;  
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.form-application {
    padding: 30px;
    margin: 0 auto;
}

.form-application p {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.form-application label{
    display: inline-block;
    width:150px;
    text-align: left;
    margin-right: 10px;
    font-size: 0.9em;
}

.lesson-level-group {
    width:auto;
    margin-right:25px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 60%;
    padding: 10px;
    font-size: 0.8em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-application input[type="radio"] + label,
.form-application input[type="checkbox"] + label {
    width: auto; 
    margin-right: 25px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 70%;
    padding: 10px;
    font-size: 0.8em;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/*Contact Info Section*/
.contact-info {
    margin: auto;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color:#FAF8E9;
    padding-bottom: 10px;
}

.contact-info h1, h2 {
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 2em;
    padding-bottom: 10px;
}

.contact-title-background {
    background-image: url("resources/images/contact-location.jpg");
    background-size: cover;
    line-height: 250px;
    max-width: 1200px;
    height: 250px;
    margin:0 auto;
}

.contact-title-background h1 {
    color: white;
    font-size: 4em;
    text-align: center;
}

.contact-email,.contact-phone {
    text-align: center;
    font-size: 1.2em;
    border-bottom: 3px solid #8b0000;
    padding-bottom: 10px;
}

.contact-location {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 10px;
}
