body {
    margin: 0;
    padding: 0;
}

/*MAIN PART OF WEBSITE*/
#hero {
  background-color:#EEDFA6;
  overflow:auto;
  clear:both;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
}

#hero h1 {
  color:#361a0e;
  margin-left:60px;
  margin-top:80px;
  padding-top:80px;
  font-size: 2.9em;
  float:left;
  width:35%;
  font-style:italic;
}

#hero img {
  float:right;
  margin-right:60px;
  margin-top:0px;
  border:3px solid #361a0e;
  width: 800px;
  height:450px;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
}

/*ABOUT TEASER PART*/
.about-teaser {
  padding: 20px;
  overflow:auto;
  background-color:#FAF8E9;
  max-width:1300px;
  margin: auto;
  box-shadow: 0 3px 8px 0 rgba (0,0,0,0.1)
}

.about-teaser h2 {
  color:#8b0000;
  text-align: center;
  text-decoration:underline;
  font-weight:bold;
  font-size:1.8em;

}

.about-teaser h3 {
  color:#361a0e;
  font-size:1.3em;
  text-align:left;
  margin-top:0;
  font-weight:bold;
}

.about-teaser p {
  text-align:left;
  padding-top:5px;
  line-height:1.7;
  font-size:1.2em;
}

.about-teaser p a{
  color:#8b0000;
  text-decoration:none;
  font-weight:bold;
  font-style:italic;
  font-size:1.0em;
}

.about-teaser p a:hover {
  color:#ffd700;
  background-color: #8b0000;
  padding: 2px 5px;
}

.about-teaser img {
  float:left;
  margin-right:30px;
  margin-bottom: 20px;
  margin-top:10px;
  border: 1px solid #361a0e;
}

/*LESSONS & PRICING TEASER*/
.lessons-teaser {
  background-color:#8b0000;
  color:#ffffff;
  padding: 40px 60px;
  clear:both;
  overflow: auto;
  margin-top:30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.lessons-teaser table {
  width:80%;
  border: 1px solid #ffd700;
  font-size: 1.1em;
  margin: auto;
}

.lessons-teaser th {
  background-color: #860000;
  color:#ffd700;
  font-weight:bold;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #ffd700;
}

.lessons-teaser td {
  color:#ffffff;
  background-color:#a33838;
  padding:10px;
  text-align:center;
  border: 1px solid #ffd700;
}

.lessons-teaser h2, h3 {
  color:#ffd700;
  text-align:center;
  border-bottom:none;
  margin-bottom:20px;
  padding-right:50px;
}

.lessons-teaser h2 {
  text-decoration:underline;
}

.lessons-teaser p {
  text-align:center;
  padding-top:20px;
}

.lessons-teaser p a{
font-style: italic;
  font-size: 17px;
  color: #fcf386;
  text-decoration: none;
  font-weight: bold;
}


.lessons-teaser a:hover {
  color: #8b0000;
  background-color:#fcf386;
  padding:2px 5px;
}

/*CONTACT TEASER PART*/
.contact-teaser {
  padding:40px 60px;
  overflow:auto;
  clear:both;
  background-color:#EEDFA6;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  text-align:center;
}

.contact-teaser h2 {
  color:#8b0000;
  font-size:1.8em;
  margin-bottom:15px;
}

.contact-teaser p {
  color:#361a0e;
  font-size:1.1em;
  line-height:1.9;
}

.contact-teaser p a{
  font-size:1.3em;
  color:#ffffff;
  text-decoration:none;
  font-weight:bold;
  background-color:#860000;
  border:2px solid #361a0e;
  padding:10px;
  text-transform:uppercase;
}


.contact-teaser p a:hover {
  background-color:#ffd700;
  color:#8b0000;
}